@model APIClientBoardGamesRental.Models.BGames

@{
    ViewData["Title"] = "Edycja wpisu";
}

<h1>Edycja wpisu</h1>

<h4>BGames</h4>
<hr />
<form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="oid" class="form-control" type="hidden" />
                <span asp-validation-for="oid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label">Nazwa gry</label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="briefdescribe" class="control-label">Krótki opis</label>
                <input asp-for="briefdescribe" class="form-control" />
                <span asp-validation-for="briefdescribe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label">Link do obrazka</label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="minPlayers" class="control-label">Minimalna ilość graczy</label>
                <input asp-for="minPlayers" class="form-control" />
                <span asp-validation-for="minPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="maxPlayers" class="control-label">Maksymalna ilość graczy</label>
                <input asp-for="maxPlayers" class="form-control" />
                <span asp-validation-for="maxPlayers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="playingTime" class="control-label">Ile mniej więcej czasu musimy poświęcić na grę.</label>
                <input asp-for="playingTime" class="form-control" />
                <span asp-validation-for="playingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="yearPublished" class="control-label">Rok w którym gra została wydana</label>
                <input asp-for="yearPublished" class="form-control" />
                <span asp-validation-for="yearPublished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label">Ocena</label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label">Przygodowa, strategiczna, ekonomiczna itp.</label>
                <input asp-for="type" class="form-control" />
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="itemtype" class="control-label">Gra planszowa, karciana, RPG itp.</label>
                <input asp-for="itemtype" class="form-control" />
                <span asp-validation-for="itemtype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ilosc" class="control-label">Ile mamy na stanie</label>
                <input asp-for="ilosc" class="form-control" />
                <span asp-validation-for="ilosc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cena" class="control-label">Cena</label>
                <input asp-for="cena" class="form-control" />
                <span asp-validation-for="cena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <textarea asp-for="describe" rows="5" cols="40" class="form-control">Dłuższy opis gry</textarea>
                <span asp-validation-for="describe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Zapisz" class="btn btn-primary" />
            </div>
        </form>
<div>
    <a asp-action="Details" asp-route-id="@Model.oid">Powrót do strony gry</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
