@model RegisterUserViewModel

@{
    ViewBag.Title = "Dodaj Użytkownika";
}

    <h1>Dodaj Użytkownika</h1>

<form method="post" class="md-12">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="Email">Adres Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="Password">Hasło</label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ConfirmPassword">Powtórz hasło</label>
        <input asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="ShortName">Skrócona nazwa</label>
        <input asp-for="ShortName" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="Street">Ulica</label>
        <input asp-for="Street" class="form-control" />
        <span asp-validation-for="Street" class="text-danger"></span>
    </div>
    <div class="form-group row">
        <label asp-for="City">Miasto</label>
        <input asp-for="City" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="PostCode">Kod pocztowy</label>
        <input asp-for="PostCode" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="Country">Państwo</label>
        <input asp-for="Country" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="NIP">NIP</label>
        <input asp-for="NIP" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="ContactPerson">Osoba kontaktowa</label>
        <input asp-for="ContactPerson" class="form-control" />
    </div>
    <div class="form-group row">
        <label asp-for="Comments">Dodatkowe informacje</label>
        <textarea asp-for="Comments" rows="5" cols="40" class="form-control"></textarea>
    </div>
    <div class="form-group row">
        <label asp-for="ContactPhone">Telefon kontaktowy</label>
        <input asp-for="ContactPhone" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Dodaj użytkownika</button>
</form>
